:root {
    --backgroundColour: #f8f8f8;
    --coverTextColour: #404040;
    --uiColour: #4688f2;
    --uiHoverColour: #5c97f5;
}

* {
    font-family: "Overpass", "Roboto", sans-serif;
}

h1, code {
    font-family: "Overpass Mono", "Roboto Mono", sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

p {
    font-size: 1.1em;
}

span, strong, em {
    font-family: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    padding: 8px;
    padding-left: 58px;
    padding-right: 58px;
    width: calc(100% - 116px);
    background-color: rgba(255, 255, 255, 0.9);
}

.headerLogo {
    width: 100px;
}

section, footer {
    margin: 8px;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

section.cover {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--backgroundColour);
    color: var(--coverTextColour);
    text-align: center;
}

div.coverMain {
    padding-top: 40vh;
    height: 10vh;
    font-size: 10vh;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-family: "Overpass Mono", "Roboto Mono", sans-serif;
    background-color: var(--backgroundColour);
}

button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--uiColour);
    color: white;
    font-size: 1em;
    transition: 0.5s;
}

button:hover {
    background-color: var(--uiHoverColour);
    cursor: pointer;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.noMargin {
    margin: 0;
}

.arrowContainer {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.arrow1 {
    width: 100px;
    height: 100px;
    background: var(--uiColour);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
}

.arrow2 {
    width: 60px;
    height: 60px;
    background-color: var(--uiColour);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
    text-decoration: none;
    cursor: pointer;
}

.arrow2:before {
    width: 52px;
    height: 52px;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.arrow2 i.fa {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }

    50% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 0;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-iteration-count: infinite;
}

.showcaseItem:after {
    display: table;
    margin-bottom: 30px;
    content: "";
    clear: both;
}

.showcaseImage {
    width: 5vw;
    float: left;
}

.showcaseDescription {
    margin-left: 20px;
    width: calc(95% - 40px);
    float: left;
}

@media (max-width: 120vh) {
    div.coverMain {
        font-size: 8vw;
    }
}

@media (max-width: 500px) {
    header {
        padding-left: 28px;
        padding-right: 28px;
        width: calc(100% - 56px);
    }

    section, footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .showcaseImage {
        width: 20vw;
        float: none;
    }

    .showcaseDescription {
        width: 100%;
        margin-left: 0;
        float: none;
    }
}