:root {
    --backgroundColour: #f8f8f8;
    --coverTextColour: #404040;
    --uiColour: #4688f2;
    --uiTextColour: white;
    --uiHoverColour: #5c97f5;
    --uiDeselectedColour: #71a3f3;
    --uiFlatTextColour: #4688f2;
    --uiInputColour: #e5e5e5;
    --uiInputTextColour: black;
    --uiCardBorderColour: #e5e5e5;
}

* {
    font-family: "Overpass", "Roboto", sans-serif;
}

h1, code, .mono {
    font-family: "Overpass Mono", "Roboto Mono", sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h1.logo, h2.logo, h3.logo {
    color: var(--coverTextColour);
    font-weight: 400;
}

p {
    font-size: 1.1em;
}

span, strong, em {
    font-family: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    position: fixed;
    padding: 8px;
    padding-left: 58px;
    padding-right: 58px;
    width: calc(100% - 116px);
    background-color: rgba(255, 255, 255, 0.9);
}

.headerLogo {
    width: 100px;
}

main {
    min-height: 100vh;
}

section, footer {
    margin: 8px;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

section.cover {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--backgroundColour);
    color: var(--coverTextColour);
    text-align: center;
}

section.cover.dark {
    background-color: var(--coverTextColour);
    color: var(--backgroundColour);
}

div.coverMain {
    padding-top: 40vh;
    height: 10vh;
    font-size: 10vh;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-family: "Overpass Mono", "Roboto Mono", sans-serif;
    background-color: var(--backgroundColour);
}

button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--uiColour);
    color: white;
    font-size: 1em;
    transition: 0.5s;
}

button:hover {
    background-color: var(--uiHoverColour);
    cursor: pointer;
}

button.flat {
    background-color: inherit;
    color: var(--uiFlatTextColour);
}

a {
    font-family: inherit;
    color: var(--coverTextColour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.hidden {
    font-family: unset;
    color: inherit;
    text-decoration: unset;
}

a.hidden:hover {
    text-decoration: unset;
}

input, select {
    margin: 4px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--uiInputColour);
    color: var(--uiInputTextColour);
    transition: 0.5s;
    user-select: unset;
}

input[type=checkbox] {
    width: 0;
    height: 0;
    outline: none;
    margin: 10px;
}

input[type=checkbox]::before {
    display: inline-block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 16px;
    height: 16px;
    content: "";
    border-radius: 5px;
    background-color: var(--uiInputColour);
    transition: 0.5s;
}

input[type=checkbox]:checked::before {
    background: url("media/Checkmark.png") no-repeat;
    background-size: 100%;
    background-color: var(--uiColour);
}

input[type=checkbox]:focus::before {
    outline: auto;
}

input.signInPage, select.signInPage {
    background-color: white;
    width: 300px;
}

select.signInPage {
    width: 320px;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkboxContainer.signInPage {
    width: 320px;
    padding-left: 15px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.noMargin {
    margin: 0;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
}

.arrowContainer {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.arrow1 {
    width: 100px;
    height: 100px;
    background: var(--uiColour);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
}

.arrow2 {
    width: 60px;
    height: 60px;
    background-color: var(--uiColour);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
    text-decoration: none;
    cursor: pointer;
}

.arrow2:hover {
    text-decoration: none;
}

.arrow2:before {
    width: 52px;
    height: 52px;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.arrow2 i {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }

    50% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 0;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-iteration-count: infinite;
}

.showcaseItem:after {
    display: table;
    margin-bottom: 30px;
    content: "";
    clear: both;
}

.showcaseImage {
    width: 5vw;
    float: left;
}

.showcaseDescription {
    margin-left: 20px;
    width: calc(95% - 40px);
    float: left;
}

.card {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--backgroundColour);
}

.card.signInPage {
    position: relative;
    left: calc(50vw - 185px);
    width: 350px;
    margin: 0;
}

.signInPageContent {
    min-height: 200px;
    max-height: 250px;
    overflow: auto;
    margin-bottom: 10px;
}

.signInPageButtons {
    width: 320px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.required {
    color: #ff3838;
}

@media (max-width: 120vh) {
    div.coverMain {
        font-size: 8vw;
    }
}

@media (max-width: 500px) {
    header {
        padding-left: 28px;
        padding-right: 28px;
        width: calc(100% - 56px);
    }

    section, footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    input.signInPage, select.signInPage {
        width: 250px;
    }

    select.signInPage {
        width: 270px;
    }

    .showcaseImage {
        width: 20vw;
        float: none;
    }

    .showcaseDescription {
        width: 100%;
        margin-left: 0;
        float: none;
    }

    .card.signInPage {
        left: calc(50vw - 160px);
        width: 300px;
    }

    .signInPageButtons {
        width: 270px;
    }

    .checkboxContainer.signInPage {
        width: 270px;
        padding-left: 15px;
    }
}